/* CSS declarations go here */
html, body {
    background: url(images/back.png) repeat;
    position: relative;
    color: #CCCCFF;
    overflow: hidden;
    cursor:none
}

.sw {
    color: #CCCCFF !important;
}

#weather {
    background: transparent;
    color: #CCCCFF !important;
}

#weather h2 {
    color: #CCCCFF !important;
}

#weather li {
    background: transparent;

}
