<head>
    <title>Draco</title>
    <link rel="icon" sizes="16x16 32x32" href="/fav.ico">
    <script type="text/javascript" src="bower_components/speech-synthesis/polyfill.min.js"></script>
</head>

<template name='layout'>
    <div id="wrapper">
        <!-- {{> header}} -->
        <div id="page-content-wrapper">
            {{> yield}}
            <footer>
                <!-- Made Especially for _ -->
            </footer>
        </div>
    </div>
</template>

<template name="home">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1 style='text-align: center;'>Draco Bot says welcome!</h1>
        </div>
        <div class="col-md-6">
            <div class="clock"></div>
        </div>
        <div class="col-md-6">
            {{>simpleWeather}}
        </div>
        <div class="col-md-3">
            <a id="onlineRadioLink" href="http://radiotuna.com/">internet radio</a>
            <script type="text/javascript" src="http://radiotuna.com/OnlineRadioPlayer/EmbedRadio?playerParams=%7b%22styleSelection0%22%3a0%2c%22styleSelection1%22%3a0%2c%22styleSelection2%22%3a0%2c%22textColor%22%3a0%2c%22backgroundColor%22%3a15592941%2c%22buttonColor%22%3a16744626%2c%22glowColor%22%3a16744626%2c%22playerSize%22%3a240%2c%22userGuid%22%3a%2252acad9d-7003-44af-aef7-7019b355d9f0%22%2c%22streamId%22%3a60121%2c%22playerTitleText%22%3a%22Draco%22%2c%22playerType%22%3a%22singleStation%22%7d&width=240&height=214&autoplay=true"></script>

            <div>
                Talk: <span id='talk'></span>
            </div>
            <div>
                Sound: <span id='sound'></span>
            </div>
        </div>
        <div style="float: left" class="col-md-6">

            <img style="max-height: 20em;" src='' id='dimg' />
        </div>
        <div class="col-md-6">
          <h1>From: <span id='gifWho'></span></h1>
          <h1>Text: <span id='gifText'></span></h1>
        </div>

    </div>

    <div class="col-md-6">

    </div>


    <!-- <div>He will count the number of time you click the 'Click Me' Button!</div>
    <button id='count'>Click Me</button>
    <p>You've pressed the button {{counter}} times.</p>
    <br /> -->




    <!-- <button id='yourButton'>Record Sound</button> -->
    <!-- <br /> -->
    <!-- <p>To change draco voice => "/draco talk {text}|{index}"</p> -->
    <!-- <br /> -->
    <!-- <button id='getVoices'>Get Voice Table</button> -->
    <!-- <br /> -->
    <!-- <br /> -->
    <!-- <table id='voiceTable' border="1">
        <thead>
            <th>Index</th>
            <th>Name</th>
            <th>Lang</th>
        </thead>
        <tbody></tbody>
    </table> -->
    <!-- <br /> -->

    <!-- <div>
    <label>Current Question:</label>
    {{current_question}}
    </div>
    <br />
    <br /> -->
    <!-- <table style='border: solid 1px black;text-align: center;'>
        <thead style='border: solid 1px black;text-align: center;'>
            <th>Name</th>
            <th>Last Command</th>
            <th>Gold Stars</th>
            <th>Punched</th>
            <th>Question Score</th>
            <th>Call Count</th>
            <th>Fish Time</th>
            <th>Fishing</th>
            <th>Fishes</th>
            <th>Fish Count</th>
        </thead>
        <tbody style='border: solid 1px black;'>
        {{#each people}}
        <tr style='border: solid 1px black;'>
            {{#unless deleted}}
                <td style='border: solid 1px black;text-align: center;'>
                {{#if profile.real_name_normalized}}
                    {{profile.real_name_normalized}}
                {{else}}
                    {{name}}
                {{/if}}
                </td>
                <td style='border: solid 1px black;text-align: center;'>{{lastCommand}}</td>
                <td style='border: solid 1px black;text-align: center;'>{{goldstar}}</td>
                <td style='border: solid 1px black;text-align: center;'>{{punched}}</td>
                <td style='border: solid 1px black;text-align: center;'>{{question_total}}</td>
                <td style='border: solid 1px black;text-align: center;'>{{dracoCountCall}}</td>
                <td style='border: solid 1px black;text-align: center;'>{{fishTime}}</td>
                <td style='border: solid 1px black;text-align: center;'>{{fishing}}</td>
                <td style='border: solid 1px black;text-align: center;'>
                    {{#each fishes}}
                        {{this}}
                    {{/each}}
                </td>
                <td style='border: solid 1px black;text-align: center;'>
                    {{fishes.length}}
                </td>
            {{/unless}}
        </tr>
        {{/each}}
        </tbody>
    </table> -->
</template>
