<head>
    <title>Draco</title>
    <link rel="icon" sizes="16x16 32x32" href="/fav.ico">
</head>

<template name='layout'>
    <div id="wrapper">
        <!-- {{> header}} -->
        <div id="page-content-wrapper">
            {{> yield}}
            <footer>
                <!-- Made Especially for _ -->
            </footer>
        </div>
    </div>
</template>

<template name="home">

    <h1>Draco Bot says welcome!</h1>
    <div>He will count the number of time you click the 'Click Me' Button!</div>
    <button id='count'>Click Me</button>
    <p>You've pressed the button {{counter}} times.</p>
    <br />

    <!-- <button id='yourButton'>Record Sound</button> -->
    <br />
    <p>To change draco voice => "/draco talk {text}|{index}"</p>
    <br />
    <button id='getVoices'>Get Voice Table</button>
    <br />
    <br />
    <table id='voiceTable' border="1">
        <thead>
            <th>Index</th>
            <th>Name</th>
            <th>Lang</th>
        </thead>
        <tbody></tbody>
    </table>
    <br />

    <div>
    <label>Current Question:</label>
    {{current_question}}
    </div>
    <br />
    <br />
    <table style='border: solid 1px black;text-align: center;'>
        <thead style='border: solid 1px black;text-align: center;'>
            <th>Name</th>
            <th>Last Command</th>
            <th>Gold Stars</th>
            <th>Punched</th>
            <th>Question Score</th>
            <th>Call Count</th>
            <th>Fish Time</th>
            <th>Fishing</th>
            <th>Fishes</th>
            <th>Fish Count</th>
        </thead>
        <tbody style='border: solid 1px black;'>
        {{#each people}}
        <tr style='border: solid 1px black;'>
            <td style='border: solid 1px black;text-align: center;'>
            {{#if profile.real_name_normalized}}
                {{profile.real_name_normalized}}
            {{else}}
                {{name}}
            {{/if}}
            </td>
            <td style='border: solid 1px black;text-align: center;'>{{lastCommand}}</td>
            <td style='border: solid 1px black;text-align: center;'>{{goldstar}}</td>
            <td style='border: solid 1px black;text-align: center;'>{{punched}}</td>
            <td style='border: solid 1px black;text-align: center;'>{{question_total}}</td>
            <td style='border: solid 1px black;text-align: center;'>{{dracoCountCall}}</td>
            <td style='border: solid 1px black;text-align: center;'>{{fishTime}}</td>
            <td style='border: solid 1px black;text-align: center;'>{{fishing}}</td>
            <td style='border: solid 1px black;text-align: center;'>
                {{#each fishes}}
                    {{this}}
                {{/each}}
            </td>
            <td style='border: solid 1px black;text-align: center;'>
                {{fishes.length}}
            </td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</template>
